@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  font-family: var(--font-albert-sans), sans-serif;
  background-color: white;
  /* si querés tener un fondo base por detrás */
}

.bg-hero {
  background-image: url('/a10b28.png');
  background-size: cover;
  background-position: center;
}